<section class="section section-tariffs">
  <div class="wrapper wrapper-tarrifs">
    <div class="content content-tariffs">
      <h2 class="text text-title">{{ translation.tariffs.title }}</h2>
      <img
        class="mono-rocket-img"
        src="assets/images/rocket.jpg"
        alt="mono rocket"
        width="50px"
      />
      <table>
        <thead>
          <tr>
            <th></th>
            <th>{{ translation.tariffs.th1 }}</th>
            <th>{{ translation.tariffs.th2 }}</th>
            <th>{{ translation.tariffs.th3 }}</th>
            <th>{{ translation.tariffs.th4 }}</th>
          </tr>

          <tr></tr>
        </thead>

        <tbody>
          <tr>
            <th class="text text-description">
              {{ translation.tariffs.thth1 }}
            </th>
            <td class="text text-description">
              {{ translation.tariffs.td11 }}
            </td>
            <td class="text text-description">
              {{ translation.tariffs.td12 }}
            </td>
            <td class="text text-description">
              {{ translation.tariffs.td13 }}
            </td>
            <td class="text text-description">
              {{ translation.tariffs.td14 }}
            </td>
          </tr>
          <tr>
            <th class="text text-description">
              {{ translation.tariffs.thth2 }}
            </th>
            <td class="text text-description">
              {{ translation.tariffs.td21 }}
            </td>
            <td class="text text-description">
              {{ translation.tariffs.td22 }}
            </td>
            <td class="text text-description">
              {{ translation.tariffs.td23 }}
            </td>
            <td class="text text-description">
              {{ translation.tariffs.td24 }}
            </td>
          </tr>
          <tr>
            <th class="text text-description">
              {{ translation.tariffs.thth3 }}
            </th>
            <td class="text text-description">
              {{ translation.tariffs.td31 }}
            </td>
            <td class="text text-description">
              {{ translation.tariffs.td32 }}
            </td>
            <td class="text text-description">
              {{ translation.tariffs.td33 }}
            </td>
            <td class="text text-description">
              {{ translation.tariffs.td34 }}
            </td>
          </tr>
        </tbody>
      </table>
      <p class="text text-description">{{ translation.tariffs.description }}</p>
      <a href="">{{ translation.tariffs.details }}</a>
    </div>
  </div>
</section>
