<div class="wrapper-update">
  <div class="col-md-4 mt-5">
    <div class="card border-0 shadow p-3">
      <div class="form-floating mb-3 text-center">
        <h2 class="text-center text-warning">Update Student</h2>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstname"
          [(ngModel)]="first_name"
        />
        <label for="firstname">First name</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="lastName"
          name="lastName"
          [(ngModel)]="last_name"
        />
        <label for="lastName">Last name</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          [(ngModel)]="email"
        />
        <label for="email">Email address</label>
      </div>
      <button
        type="button"
        class="btn btn-outline-success"
        (click)="updateStudent()"
        routerLink="/dashboard"
      >
        Update Student
      </button>
    </div>
  </div>
  <div class="content-page">
    <button
      type="button"
      class="btn btn-success btn-lg"
      routerLink="/dashboard"
    >
      Return to main page
    </button>
  </div>
</div>
