<section class="section section-get-card">
  <div class="wrapper wrapper-card">
    <div class="content content-card">
      <div class="card__description">
        <h2 class="text text-title">{{ translation.getCard.title }}</h2>
        <p class="text text--description">
          {{ translation.getCard.description }}
        </p>
        <button type="button" class="button button-primary">
          {{ translation.getCard.button }}
        </button>
        <p class="text text-description">
          {{ translation.getCard.secondDescription }}
        </p>
      </div>

      <div class="card_image">
        <img src="" alt="card monobank" />
      </div>
    </div>
  </div>
</section>
