<footer class="footer">
  <div class="wrapper wrapper-footer">
    <div class="content content-footer">
      <a href="https://www.monobank.ua">
        <img src="assets/images/logo.jpg" alt="logo" />
      </a>
      <p class="text text-description">
        dfghjuk
      </p>
      <!-- <p class="text text-description">
        {{ translation.footer.description }}
      </p> -->

      <div class="footer__links">
        <ul class="footer__bank-list">
          <li class="">
            <p class="text text-subtitle">{{ translation.footer.ulTitle }}</p>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem11 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem12 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem13 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem14 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem15 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem16 }}</a>
          </li>
        </ul>

        <ul class="footer__card-list">
          <li>
            <p class="text text-subtitle">{{ translation.footer.ulTitle2 }}</p>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem21 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem22 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem23 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem24 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem25 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem26 }}</a>
          </li>
        </ul>

        <ul class="footer__products-list">
          <li>
            <p class="text text-subtitle">{{ translation.footer.ulTitle3 }}</p>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem31 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem32 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem33 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem34 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem35 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem36 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem37 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem38 }} </a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem39 }} </a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem310 }}</a>
          </li>
          <li>
            <a href="">{{ translation.footer.liItem311 }} </a>
          </li>
        </ul>

        <div class="bank-info">
          <div class="bank-info__links">
            <a href="">
              <svg></svg>
            </a>
            <a href="">
              <svg></svg>
            </a>
            <a href="">
              <svg></svg>
            </a>
            <a href="">
              <svg></svg>
            </a>
          </div>
          <address>
            {{ translation.footer.address }}
          </address>
          <p class="text text-description">
            {{ translation.footer.descriptionSecond }}
            <a href="">{{ translation.footer.link }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
