<header class="header__additional">
  <div class="wrapper wrapper-header__additional">
    <div class="content content-header__additional">
      <div class="header-logo">
        <a href="https://www.monobank.ua">
          <img src="assets/images/logo.jpg" alt="logo" />
        </a>
      </div>
      <nav class="navigation-additional">
        <ul class="navigation-additional__list">
          <li class="navigation-additional__item">
            <a href="#card-menu">{{ translation.headerAdditional.cards }}</a>
          </li>
          <li class="navigation-additional__item active">
            <a href="#">{{ translation.headerAdditional.fop }}</a>
          </li>
          <li class="navigation-additional__item">
            <a href="https://www.monobank.ua/deposit">{{
              translation.headerAdditional.deposits
            }}</a>
          </li>
          <li class="navigation-additional__item">
            <a href="https://www.monobank.ua/military-bonds">{{
              translation.headerAdditional.obligations
            }}</a>
          </li>
          <li class="navigation-additional__item">
            <a href="https://chast.monobank.ua">{{
              translation.headerAdditional.buyPart
            }}</a>
          </li>
          <li class="navigation-additional__item">
            <a href="https://www.monobank.ua/international">{{
              translation.headerAdditional.foreighTransactions
            }}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
