<section class="section section-steps">
  <div class="wrapper wrapper-steps">
    <div class="content content-steps">
      <h2 class="text text--title"></h2>
      <ol class="steps__list">
        <li class="steps__list-item">
          <svg></svg>
          <p class="text text-description">
            {{ translation.steps.step1 }}
          </p>
        </li>
        <li class="steps__list-item">
          <svg></svg>
          <p class="text text-description">
            {{ translation.steps.step2 }}
          </p>
        </li>
        <li class="steps__list-item">
          <svg></svg>
          <p class="text text-description">
            {{ translation.steps.step3 }}
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
