<section class="section section-accountant">
  <div class="wrapper wrapper-accountant">
    <div class="content content-accountant">
      <div class="accountant__content-first">
        <div class="accountant__img">
          <img
            src="assets/images/accountant.jpg"
            alt="accountant room"
            width="600px"
          />
        </div>

        <div class="accountant__description">
          <h2 class="text text-title">{{ translation.accountant.title }}</h2>
          <p class="text text-description">
            {{ translation.accountant.firstDescription }}
          </p>
          <p class="text text-description">
            {{ translation.accountant.secondDescription }}
          </p>

          <button class="button button-secondary" type="button">
            {{ translation.accountant.button }}
          </button>
        </div>
      </div>

      <div class="accountant__content-second">
        <h2 class="text text-title">
          {{ translation.accountant.advantagesTitle }}
        </h2>
        <ul class="accountant__advantages">
          <li class="accountant__advantages-item">
            <svg></svg>
            <p class="text text-description">
              {{ translation.accountant.item0 }}
            </p>
          </li>
          <li class="accountant__advantages-item">
            <svg></svg>
            <p class="text text-description">
              {{ translation.accountant.item1 }}
            </p>
            <p class="text text-description grey">
              {{ translation.accountant.itemDesc1 }}
            </p>
          </li>
          <li class="accountant__advantages-item">
            <svg></svg>
            <p class="text text-description">
              {{ translation.accountant.item2 }}
            </p>
            <p class="text text-description grey">
              {{ translation.accountant.itemDesc2 }}
            </p>
          </li>
          <li class="accountant__advantages-item">
            <svg></svg>
            <p class="text text-description">
              {{ translation.accountant.item3 }}
            </p>
          </li>
          <li class="accountant__advantages-item">
            <svg></svg>
            <p class="text text-description">
              {{ translation.accountant.item4 }}
            </p>
          </li>
          <li class="accountant__advantages-item">
            <svg></svg>
            <p class="text text-description">
              {{ translation.accountant.item5 }}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
