.accountant__img {
  float: left;
}

.accountant__description {
  padding-top: 100px;
}

.accountant__content-second {
  clear: both;
}

.accountant__content-second {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.accountant__advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  row-gap: 50px;
}

.accountant__advantages-item {
  max-width: 200px;
}
