.accountant {
  &__img {
    float: left;
  }

  &__description {
    padding-top: 100px;
  }

  &__content-second {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__content-second {
    clear: both;
  }

  &__advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    row-gap: 50px;
  }

  &__advantages-item {
    max-width: 200px;
  }
}
