<!-- <app-header-common [translation]="doTranslate()"></app-header-common>
<app-language-selector
  [language]="language"
  (languageChanged)="changeLanguage($event)"
></app-language-selector>
<app-header-additional [translation]="doTranslate()"></app-header-additional>
<app-banner [translation]="doTranslate()"></app-banner>
<app-accountant [translation]="doTranslate()"></app-accountant>
<app-steps [translation]="doTranslate()"></app-steps>
<app-tariffs [translation]="doTranslate()"></app-tariffs>
<app-get-card [translation]="doTranslate()"></app-get-card>
<app-footer [translation]="doTranslate()"></app-footer>
<app-pipes></app-pipes> -->

<mat-toolbar color="accent">
  Welcome to administrative tool

  <ng-container
    *ngIf="authService.currentUser$ | async as user; else loginButton"
  >
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </ng-container>

  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>
