<!-- <app-header-common
  [translation]="language === 'UA' ? translationUAobject : translationENobject"
></app-header-common>
<app-language-selector
  [language]="language"
  (languageChanged)="changeLanguage($event)"
></app-language-selector>
<app-header-additional
  [translation]="language === 'UA' ? translationUAobject : translationENobject"
></app-header-additional>
<router-outlet></router-outlet>
<app-banner
  [translation]="language === 'UA' ? translationUAobject : translationENobject"
></app-banner>
<app-accountant
  [translation]="language === 'UA' ? translationUAobject : translationENobject"
></app-accountant>
<app-steps
  [translation]="language === 'UA' ? translationUAobject : translationENobject"
></app-steps>
<app-tariffs
  [translation]="language === 'UA' ? translationUAobject : translationENobject"
></app-tariffs>
<app-get-card
  [translation]="language === 'UA' ? translationUAobject : translationENobject"
></app-get-card><app-header-common
  [translation]="language === 'UA' ? translationUAobject : translationENobject"
></app-header-common>
<app-language-selector
  [language]="language"
  (languageChanged)="changeLanguage($event)"
></app-language-selector>
<app-header-additional
  [translation]="language === 'UA' ? translationUAobject : translationENobject"
></app-header-additional>
<router-outlet></router-outlet>
<app-banner
  [translation]="language === 'UA' ? translationUAobject : translationENobject"
></app-banner>
<app-accountant
  [translation]="language === 'UA' ? translationUAobject : translationENobject"
></app-accountant>
<app-steps
  [translation]="language === 'UA' ? translationUAobject : translationENobject"
></app-steps>
<app-tariffs
  [translation]="language === 'UA' ? translationUAobject : translationENobject"
></app-tariffs>
<app-get-card
  [translation]="language === 'UA' ? translationUAobject : translationENobject"
></app-get-card> -->

<!-- <app-footer
  [translation]="language === 'UA' ? translationUAobject : translationENobject"
></app-footer>
<app-pipes></app-pipes> -->

<mat-toolbar color="accent">
  Welcome to administrative tool

  <ng-container
    *ngIf="authService.currentUser$ | async as user; else loginButton"
  >
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </ng-container>

  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>
