<section class="section section-banner">
  <div class="wrapper wrapper-banner">
    <div class="content content-banner">
      <div class="banner__description">
        <h1 class="text text-title">
          {{ translation.banner.title }}
        </h1>
        <p class="text text-description">
          {{ translation.banner.description }}
        </p>
        <form class="get-fop-form">
          <app-inputs></app-inputs>
          <button class="button button-primary" type="submit">
            {{ translation.banner.button }}
          </button>
        </form>
      </div>

      <div class="banner__img">
        <img
          class="banner-photo"
          src="assets/images/cat.jpg"
          alt="monobank logo cat"
        />
      </div>
    </div>
  </div>
</section>
