<header class="header__common">
  <div class="wrapper wrapper-header__common">
    <nav class="navigation-common">
      <ul class="navigation-common__list">
        <li class="navigation-common__item">
          <a href="https://www.monobank.ua/dashboard">{{
            translation.headerCommon.dashboard
          }}</a>
        </li>
        <li class="navigation-common__item">
          <a href="https://api.monobank.ua/docs/">{{
            translation.headerCommon.api
          }}</a>
        </li>
        <li class="navigation-common__item">
          <a href="https://www.monobank.ua/contacts">{{
            translation.headerCommon.contacts
          }}</a>
        </li>
        <li class="navigation-common__item">
        </li>
      </ul>
    </nav>
  </div>
</header>
