/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

svg {
  width: 20px;
  height: 20px;
  background: black;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.content {
  &-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    clear: both;
  }

  &-header__additional {
    clear: both;
  }

  &-tariffs {
    position: relative;
  }

  &-footer {
    display: grid;
    grid-template-rows: 3;
    gap: 20px;
  }
}

ul,
ol {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

.header__common {
  position: fixed;
  right: 100px;
}

.header__additional {
  padding-top: 40px;
}

.header-logo {
  float: left;
}

.navigation-additional {
  float: right;
}

.navigation-common {
  display: flex;
}

.navigation-additional__item,
.navigation-common__item {
  display: inline;
  padding: 14px 16px;
}

.banner__description {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-self: center;
  max-width: 500px;
}

.banner-photo {
  width: 400px;
  height: 350px;
}

.accountant__img {
  float: left;
}

.accountant__description {
  padding-top: 100px;
}

.accountant__content-second {
  clear: both;
}

.accountant__content-second {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.accountant__advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  row-gap: 50px;
}

.accountant__advantages-item {
  max-width: 200px;
}

.mono-rocket-img {
  position: absolute;
  left: 530px;
  top: -1px;
}

.footer__links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
