.forms {
  display: flex;
  justify-content: space-around;
}

.title {
  position: relative;
  left: 47%;
}

.form__item {
  padding: 12px 20px;
}

.form__item label {
  display: block;
  padding-bottom: 5px;
}

.form__item input {
  margin: 3px;
  border: 1px solid gray;
}
